<div class="row text-center" *ngFor="let user of users_list">
  <div class="col-md-3">
    <span>{{user.obj.name}}</span>
  </div>

  <div class="col-md-5">
    <span>{{(user.dis/1000).toFixed(3)}} </span>
  </div>

  <div class="col-md-3">
    <span>{{user.obj.date | formatDate}}</span>
  </div>
  <hr/>
</div>
<div class="row text-right">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>
